{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{% url 'main' %}"> To main page </a>
</div>
<div>
    {{object.name}}
    <br>
    Count: {{object.product_count}}
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'detail-product' object.id %}">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="product" value="{{object.id}}">
        <input type="submit" value="Buy">
    </form>
    {% if request.user.is_superuser%}
    <form method="get" action="{% url 'update-product' object.id%}">
        <input type="submit" value="To edit">
    </form>
    {% endif %}
    {% endif %}
</div>
{% endblock %}